


    <div class="row m-3">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Written By:{{user.username}}</h6>
            <p class="card-text">{{comment_text}}</p>
            <p class="card-text">{{format_date createdAt}}</p>
          </div>
        </div>
      </div>
    </div>
   